<!doctype html>
<html>
<head>
    <title>Groups</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript">

        var token = "?access_token=<%= user.facebook.token %>";
        var url = "https://graph.facebook.com/v2.2/<%= user.facebook.id %>/groups" + token;

        function displayPost(data) {
            for(var g in data) {
                group = data[g];
               
                var base_url = "/group/",
                    group_id = group.id,
                    post_url = base_url + group_id;

                var newli = "<a href=\"" + post_url + "\">" + group.name + "</a>"; 

                $("#fbGroups").append("<li>" + newli);
            }
        }

        var next_url = "";
        next_url = url;
        $.get(url, function(data) {
            console.log(data)
            displayPost(data.data);
            var newevent = new CustomEvent("blah", {
                'detail': data.paging.next
            });
            document.dispatchEvent(newevent);
        }); 

        
        document.addEventListener("blah", function(e) {
            var url = e.detail;
            if(url != undefined) {
                $.get(url, function(data) {
                        console.log(data);
                        var newevent = new CustomEvent("blah", {
                            'detail': data.paging.next
                        });
                        document.dispatchEvent(newevent);
                    });
            }
        });
        
        


        
    </script>
        
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="text-right">
        <p><%= user.facebook.name %> | <a href="/logout">logout</a>
    </div>

    <div class="jumbotron text-center">
        <h1>Groups</h1>
    </div>

    <ul id="fbGroups">
    </ul>

    


</div>
</body>
</html>
